body {
  background-color: #6610f2;
}
.first-item {
  background-color: rgb(53, 187, 109);
}
.second-item {
  background-color: #6c757d;
}
.item-three{
  background-color: rgb(247, 156, 156);
}
a.nav-link:hover {
  text-decoration: none;
}
  a.nav-link::before{

		content: "☴";
		color: #fff;
		position: relative;
left:-15px;

 opacity:0;
 z-index:3;
}
a.nav-link:hover:before {
  color: #fff;
   opacity:1;
   z-index: 2;
   text-decoration: none;
}
.nav-link-blue{
  color: #10d8f2;
  font-size: 45px;
}